### Laravel 4 ###
/public/system
/bootstrap/compiled.php
/bootstrap/environment.php
/vendor
/config/dev
/config/production
/public/cgi-bin
composer.phar
composer.lock
.DS_Store
Thumbs.db


### Sass ###
.sass-cache

### CodeKit ###
*/codekit-config.json
*.codekit