/******************************************************************
Site Name:
Author:

Stylesheet: IE Stylesheet

******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: Variables


******************************************************************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: IE Grid Styles

******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: 480px and Up Stylesheet


******************************************************************/
/*********************
NAVIGATION STYLES
*********************/
/*********************
POSTS & CONTENT STYLES
*********************/
/*********************
FOOTER STYLES
*********************/
/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet


******************************************************************/
/*********************
GENERAL STYLES
*********************/
/*********************
LAYOUT & GRID STYLES
*********************/
.offcanvas-wrap.active {
  left: 0; }

/*********************
HEADER STYLES
*********************/
/*********************
NAVIGATION STYLES
*********************/
a.nav-main-link {
  display: none; }

.js .nav-main {
  max-width: none;
  position: static;
  width: auto; }

.nav-main ul {
  margin: 0;
  border: 0; }
.nav-main li {
  display: inline-block; }

/*********************
SIDEBARS & ASIDES
*********************/
/*********************
FOOTER STYLES
*********************/
/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

******************************************************************/
