/******************************************************************
Site Name:
Author:

Stylesheet: Variables


******************************************************************/


$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$featured-bg:		#fffee8;

$black:             #333;
$white:             #fff;

$light-gray:        #d4d4d4;
$gray:              #666;
$text-color:        #333;
$meta-gray:         #9fa6b4;

$footer-main: 		#444444;
$footer-link: 		#aeaeae;

$background-main:	#f6f6f6;

$pro:				#00aeef;

$red:				#d4441e;
$tan:               #eceee5;
$loading: 			#e45d28;

$green:             #7dd667;

$brand:        		#42a80b;
$blue:              #2980b9;

$link-color:        $brand;
$link-hover:        darken($brand, 9%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;

$facebook:			#3b5998;
$twitter:			#55acee;
$instagram:			#3f729b;
$google:			#dd4b39;
$vine:				#00b488;



/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
