/******************************************************************
Site Name:
Author:

Stylesheet: Form Styles

******************************************************************/

/*********************
INPUTS
*********************/

// setting up defaults
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea,
.field {
  display: block;
  @include font-size(14px);
  color: $text-color;
  border-radius: 3px;
  vertical-align: middle;
  box-shadow: none;
  border: 0;
  font-family: $sans-serif;


  // a focused input (or hovered on)
  &:focus,
  &:active {
    outline:0;
  } // end hover or focus

  // error notification
  &.error,
  &.is-invalid {
    color: $alert-red;
    border-color: $alert-red;
    background-color: $white;
    outline-color: $alert-red;
  } // end invalid input

  // success notification
  &.success,
  &.is-valid {
    color: $alert-green;
    border-color: $alert-green;
    background-color: $white;
    outline-color: $alert-green;
  } // end valid input

  // a disabled input
  &[disabled],
  &.is-disabled {
    cursor: not-allowed;
    border-color: $disabled-gray;
    opacity: 0.6;

    &:focus,
    &:active {
      background-color: $alert-blue;
    } // end disabled focus

  } // end disabled input

} // end input defaults

// spacing out the password (thx @murtaugh)
input[type="password"] {
  letter-spacing: 0.3em;
}

// textareas
textarea {
  max-width: 100%;
  min-height: 120px;
  line-height: 1.5em;
}

// selects
select {
  -webkit-appearance: none; /* 1 */
}

.input-default {
  background-color:$background-main;
  height:30px;
  line-height: 30px;
  padding-left:10px;
}

.input-prepend {

  height:30px;
  width:200px;

  .input-icon {
    @include border-radius(3px 0px 0px 3px);
    background-color:$background-main;
    height:30px;
    width:30px;
    float:left;
    text-align: center;
    line-height: 30px;
    color: $light-gray;
  }

  .input-with-icon {
    input {
      @include border-radius(0px 3px 3px 0px);
      width:170px;
      float:left;
      padding-left:0;
    }
  }


}


