/******************************************************************
Site Name: 
Author: 

Stylesheet: Retina Screens & Devices Stylesheet

******************************************************************/

.logo-main {
	background-image: url('../images/logo@2x.png');
	background-size: 125px 25px;
}

.logo-footer {
	background-image: url('../images/logo-footer@2x.png');
	background-size: 125px 25px;
}

.home-logo {
	background: url('../images/logo-home-small@2x.png') no-repeat;
	background-size: 200px 50px;
}

.logo-big {
	background: url('../images/logo-big@2x.png') no-repeat;
	background-size:200px 200px;
}

.faq-big {
	background: url('../images/faq-big@2x.png') no-repeat;
	background-size:200px 200px;
}

.contact-big {
	background: url('../images/contact-big@2x.png') no-repeat;
	background-size:200px 200px;
}

.terms-big {
	background: url('../images/terms-big@2x.png') no-repeat;
	background-size:200px 200px;
}

