/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

******************************************************************/


.nav-account {
  width:20%;
}

.account-content {
  width:80%;
}

.board-settings-wrapper {
  width:70%;
}