/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $sans-serif;
	@include font-size(14px);
	line-height: 1.5;
	color: $text-color;
	background-color: $background-main;
  	-webkit-font-smoothing: antialiased;
}

.add-bottom {
	margin-bottom:20px;
}

/*********************
LAYOUT & GRID STYLES
*********************/


/*********************
LINK STYLES
*********************/

a, a:visited {


	/* on hover */
	&:hover, &:focus {
	
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

.pdf-link {
	color: $brand;
	text-decoration:none;
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	margin-bottom:10px;
	margin-top:0;

	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.board-top {
	height:auto;
	width:100%;
	@include transparent($white, 0.9);
	position:relative;
	z-index:999;

	&.home-top {
		background:none;

		.username {
			color:$white;
		}
	}
}

.logo-main {
	display:block;
	width:125px;
	height:25px;
	background-image: url('../images/logo.png');
	background-repeat: none;
	text-indent:-9999px;
	margin:10px auto 0;
}

.board-top-search {
	width:200px;
	margin: 10px auto;

	.input-default {
		width:150px;
	}

	input[type="submit"] {
		display:none;
	}
}

/*********************
NAVIGATION STYLES
*********************/

.nav-user {
	position:absolute;
	top:10px;
	right:5px;

	text-align:center;
	ul {
		margin:0; padding:0;
	}
	li {
		display:inline;
		position:relative;
	}
}


a.nav-main-link {
  float: left;
  display: block;
}

.nav-main {
  clear: both;
  overflow: hidden;
}

.js .nav-main {
  width: 16em;
  height: 100%;
  position: absolute;
  top: 0;
  left: -16em;
}

.nav-main {
  ul {
    margin: 0;
    padding: 0;
  }
  
  li a {
    display: block;
  }

}


/*********************
POSTS & CONTENT STYLES
*********************/

.page-board {
	padding-top:0px;
}

.board-avatar {
	width:80px;
	height:80px;
	margin: 0 auto;

	img {
		border:3px solid $white;
		@include border-radius(3px);
		width:80px;
		height:80px;
	}
}

.page-board-with-cover {
	padding-top: 0px !important;


	.content-board {
		position:relative;
		top:-130px;
		margin-bottom:-130px;

		h1 {
			color: $white;
			text-align: center;
			@include font-size(30px);
			line-height:50px;
			margin-bottom:20px;
		}
	}

	.board-cover {
		width:100%;
		height:150px;
		background-size:cover;
		position:relative;

		&:before {
	    	content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			height:150px;
			width:100%;
			background: rgba(0,0,0,0.45);
  		}
	}
}


.content-board {
	h1 {
		font-weight:700;
		color: $gray;
		@include font-size(30px);
		line-height:50px;
		margin:0;
		text-align: center;
	}
}

.board-info {
	background:$white;
	@include border-radius(3px);
	padding:10px;
	margin-bottom:20px;

	.board-description {
		p {
			margin:0 0 -5px 0;
			padding:0;
			color: $gray;
		}
	}
}

.filters {
	li {
		display:inline;
	}

	margin:0;
	padding:0;
}

.filter {
	display:inline-block;
	height:30px;
	width:30px;
	@include border-radius(3px);
	text-align:center;
	line-height:30px;
	@include font-size(18px);
	@include transition(opacity 0.3s ease-in-out);

	&.inactive {
		@include opacity(0.2);
	}

	&.active,
	&:hover {
		@include opacity(1);
	}


}

.filter-facebook {
	background-color: $facebook;
	color: $white;
}

.filter-instagram {
	background-color: $instagram;
	color: $white;
}

.filter-twitter {
	background-color: $twitter;
	color: $white;
}

.filter-google-plus {
	background-color: $google;
	color: $white;
}

.filter-vine {
	background-color: $vine;
	color: $white;
}

.filter-envelope {
	background-color: $gray;
	color: $white;
}

.post {
	width:270px;
	@include border-radius(3px);
	background: $white;
	padding:10px;
	float:left;
	margin-bottom:20px;
	-webkit-transition-property: top, left, opacity;
    -moz-transition-property: top, left, opacity;
    -ms-transition-property: top, left, opacity;
    -o-transition-property: top, left, opacity;
    transition-property: top, left, opacity;

    &.is-featured-post {
    	background: $featured-bg;
    	@include transition(background 0.3s ease-in-out);
    }
}

.check-new,
.span-live {
	height:30px;
	display:inline-block;
	width:100%;
	background:$red;
	margin: 0 0 10px 0;
	line-height:30px;
	@include border-radius(3px);
	padding:0 12px;
	@include font-size(12px);
	text-transform:uppercase;
	font-weight:700;
	text-decoration:none;
	color: $white;
	text-align: center;
	@include transition(all 0.3s ease-in-out);

	&:hover {
		background: darken($red,5%);
	}



	span {
		background:$white;
		color: $red;
		padding:0px 5px;
		display:inline;
		height:15px;
		@include border-radius(3px);
	}

	&.inactive {
		background: $light-gray;

		span {
			color: $light-gray;
		}
	}

	&.loading {
		background: $brand;
	}
}

.filters-container {
	height:auto;
	margin-bottom:-20px;
}

.board-share, .board-settings {
	height:30px;
	display:block;
	width:30px;
	background:$light-gray;
	margin:0 0 0 5px;
	padding:0;
	line-height:30px;
	@include border-radius(3px);
	@include font-size(18px);
	text-transform:uppercase;
	font-weight:700;
	text-decoration:none;
	color: $white;
	text-align: center;
	margin-bottom:20px;
	@include transition(all 0.3s ease-in-out);

	&:hover {
		background: $brand;
	}

}

.board-settings {
	margin-left:20px;
}

.load-more {
	height:50px;
	width:100%;
	display:block;
	background: $brand;
	text-align:center;
	@include font-size(18px);
	font-weight:700;
	color:$white;
	line-height:50px;
	text-decoration:none;
	text-transform:uppercase;
	@include border-radius(3px);
	margin:20px 0;
	@include transition(background 0.3s ease-in-out);

	&:hover {
		background:darken($brand, 5%);
	}

}

.post-flash {
	position:absolute;
	margin:auto;
	top:0;
	left:0;
	bottom:0;
	right:0;
}

.user-owned {
	.featured-post {
		display:block;
		bottom:10px;
		right:10px;
	}
}

.featured-posts-wrapper {
	min-height:100px;
}

.featured-post {
	position:absolute;
	display:none;
	bottom: -9999px; 
   	right: -9999px;

	a {
		color:$light-gray;
		@include transition(color 0.3s ease-in-out);

		&:hover {
			color: $alert-yellow;
		}
	}
}

.is-featured-post {
	.featured-post a {
		color: $alert-yellow;
	}
}

#posts {
	margin: 0 auto;
}

abbr[title] {
	border:none;
}

.user-info {
	margin-bottom:10px;
	width:220px;

	img {
		float:left;
		margin-right:10px;
		width:35px;
		height:35px;
	}

	a {
		color: $brand;
		font-weight:700;
		text-decoration: none;
	}

	p {
		margin:-5px 0 0 0;
		padding:0;
		@include font-size(10px);
		color: $gray;
	}
}

.post-img {
	position:relative;
	img {
		max-width:100%;
		width:100%;
		height:auto;
	}
	.fa {
		position:absolute;
		top:50%;
		left:50%;
		font-size:50px;
		margin-top:-25px;
		margin-left:-25px;
		color:$white;
		@include opacity(0.6);
		text-align: center;
	}
}

.hashtag {
	font-weight:700;
	color: $brand;
	text-decoration: none;

	&.not-active {
		color: $gray;
	}
}

.post-description {
	p {
		margin:5px 0 0 0;
	}
}

.board-loading {
	width:100%;
	height:100px;
	margin:20px auto;
	text-align:center;
	color: $brand;
	font-size:100px;
	line-height:100px;
}

.video-popup {
  position: relative;
  padding: 20px;
  width: auto;
  max-width:550px;
  margin: 20px auto;
  text-align: center;

  video {
  	width:100%;
  	padding:20px 0 20px;
  }

  .mfp-close {
  	color: $white;
  }
}

.content-popup {
  position: relative;
  padding: 20px;
  width: auto;
  max-width:320px;
  margin: 20px auto;
  background: $white;
  @include border-radius(3px);
  .mfp-close {
  	color: $gray;
  }
}

.payment-popup {
	position: relative;
	padding: 20px;
	width: auto;
	max-width:400px;
	margin: 10px auto;
	background: $white;
	@include border-radius(3px);
	.mfp-close {
		color: $gray;
	}
}

.alert-ssl {
      @include border-radius(3px);
        p {
          margin:0;
		  text-align: center;
          color: darken($alert-green,50%);
        }

        .ssl-icon {
            float:left;
            width:100%;
            height:50px;
            text-align:center;

            @include font-size(40px);
            line-height:55px
        }

        margin-bottom:10px;
        margin-top:10px;
     }

.cc-header {
	position:relative;
	.cc-header-types {
		position:absolute;
		top:2px;
		right:0;

		.fa {
			color: $light-gray;
			@include font-size(22px);

			&.selected {
				color: $brand;
			}
		}
	}
}

.popup-intro {

	margin:0 0 20px 0;

	h3 {
		font-weight: 700;
		@include font-size(30px);
		line-height:40px;
		padding:0;
		margin:0;
	}

	p {	
		a {
			color: $brand;
			text-decoration: none;
		}

		margin: 0;
		padding:0;
	}
}

.help-block {
	@include font-size(12px);
	color: $red;
	margin:10px 0;
	padding:0;
	line-height:12px;
}

.remember-me {
	display:block;
	margin-bottom:10px;
}

.nav-account {
	width:100%;

	ul {
		margin:0;
		padding:0;
	}
	
	a {
		display:block;
		width:100%;
		line-height:40px;
		color: $gray;
		text-align: center;
		text-decoration: none;
		@include border-radius(3px);
		margin-bottom:10px;
		@include transition(all 0.3s ease-in-out);
		
		&.active,
		&:hover {
			background: $white;
		}

		&.btn-get-pro {
			background: $pro;
			color: $white;

			&:hover {
				background-color: darken($pro, 5%);
			}
		}

	}

}

.account-content {
	width:100%;
	background: $white;
	padding:30px;
}

.user-avatar-lg {
	width:80px;
	height:80px;
	@include border-radius(50%);
}

.account-user-info {
	text-align:center;
	h3 {
		@include font-size(24px);
		margin:0;
		padding:0;
		line-height:24px;
	}

	p {
		padding: 0;
		margin:5px 0;
		color: $gray;
	}

	.fa-user {
		@include font-size(70px);
		color: $light-gray;
	}
}

.account-bar {
	width:100%;
	background: $background-main;
	@include border-radius(3px);
	height:10px;
	margin-top:10px;

	.account-board-status {
		height:10px;
		background: darken($background-main, 10%);
		@include border-radius(3px);
	}
}

.account-user-module {
	width:100%;
	float:left;
	margin-bottom:20px;
	padding-right:0px;

	.input-default {
		width:100%;
		margin-bottom:10px;

		&.input-number {
			width:65px;
		}
	}

	h4 {
		text-transform: uppercase;
		@include font-size(14px);
		font-weight: 400;
		margin:0 0 10px 0;
		padding:0;
		line-height: 18px;
	}

	.btn-submit {
		margin-top:10px;
	}
}

.alert-top {
  margin: auto;
  position: fixed;
  top: 0; left:0; right:0;
  max-width:500px;
  z-index:99999;
  height:100px;

  .fa {
    position:absolute;
    right:10px;
    top:5px;
  }
}

.form-provider {
	.fa {
		float:right;
		background:none;
		border:none;
		color: $brand;
		@include font-size(18px);
	}

	span {
		text-transform: capitalize;
	}
}

.account-type {
	display:inline-block;
	padding:0px 4px;
	@include border-radius(3px);
	color: $white;
	@include font-size(12px);
	text-transform: uppercase;
	font-weight:700;

	&.account-basic {
		color: $light-gray;
	}

	&.account-pro {
		color: $pro;
	}
}

.table-board-info {
	display:inline-block;
	height:30px;

	.board-no-avatar {
		width:30px;
		height:30px;
		background: $background-main;
		@include border-radius(50%);
		text-align: center;
		line-height: 30px;
		@include font-size(20px);
		color: $gray;
		float:left;
		font-weight:700;
		margin-right:15px;
	}
}

.board-setting-icon {
	color: $gray;
	@include font-size(24px);
}

.account-module-info {
	margin-bottom:20px;
	h3 {
		@include font-size(24px);
		margin:0;
		padding:0;
		line-height:24px;
	}

	p {
		color: $gray;
		margin:0;
		padding:0;
	}
}

.board-settings-wrapper {
	width:100%;
}

.board-setting {
	width:100%;
	@extend .clearfix;
	margin-bottom:20px;

	h4 {
		margin-top:20px;
	}
	
	.setting-description {
		display:block;
		float:left;
		width:30%;
		text-align: left;
		line-height:30px;
	}

	.input-wrapper {
		float:left;
		width:70%;

		label {
			display:block;
			width:100%;
			line-height:30px;
			clear:both;
		}

		.board-avatar {
			float:none;
			width:80px;
			height:80px;
			margin:0;

			img {
				@include border-radius(3px);
				width:80px;
				height:80px;
			}
		}
	}

	.input-icon {
		color: $gray;
		font-weight: 700;
	}


	

	.board-counter,
	.input-info {
		color: $gray;
		@include font-size(12px);
		margin-top:3px;
	}

	.no-data {
		display:inline-block;
		line-height:30px;
		color: $gray;
		margin-bottom:10px;
	}

	.board-cover {
		width:100%;
		img {
			max-width:100%;
		}
	}
}

.pro {
	display:inline-block;
	background: $pro;
	color: $white;
	width:30px;
	height:18px;
	@include font-size(12px);
	@include border-radius(3px);
	text-align:center;
	font-weight:700;
	line-height:18px;
	text-transform:uppercase;
}

.board-add-wrapper {
	h4 {
		margin-top:5px;
	}
}
.share-links {
	margin-top:10px;
}

.no-posts {
	color: $light-gray;
	@include font-size(24px);
	display:block;
	line-height:30px;
	font-weight:700;
	text-transform:uppercase;

	.fa {
		clear:both;
		width:100%;
		@include font-size(80px);

	}
}

.section-promo {
	text-align:center;
	margin:40px 0;
}


.home-intro {
	height:200px;
	width:100%;
	background-position: center;
	background-size: cover;
	padding-top:40px;
	position:relative;
	margin-bottom:30px;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height:150px;
		width:100%;
		background: -moz-linear-gradient(top, rgba(0,0,0,0.55) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.55)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0.55) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(0,0,0,0.55) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(0,0,0,0.55) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(0,0,0,0.55) 0%,rgba(0,0,0,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  }
}

.home-search-wrapper {
	width:300px;
	height:60px;
	margin: 0 auto;
	padding:10px;
	@include transparent($white, 0.5);
	@include border-radius(3px);
}

.home-search {
	width:100%;
	height:100%;
	background: $white;
	@include transparent($white, 0.9);
	@include border-radius(3px);

	.search-icon {
		width:20%;
		height:60px;
		display:block;
		float:left;
		text-align: center;
		@include font-size(20px);
		color: $brand;
		line-height: 40px;


	}

	.search-bar {
		width:80%;
		height:60px;
		display:block;
		float:left;

		input {
			display:block;
			width:100%;
			background:none;
			line-height:35px;
			@include font-size(18px);
			
		}
	}

	input[type="submit"] {
		display:none;
	}
}

.home-logo {
	display:block;
	width:200px;
	height:50px;
	margin:0 auto 5px;
	text-indent:-9999px;
	background: url('../images/logo-home-small.png') no-repeat;
}

.home-section-intro {
	text-align:center;
	
	h2 {
		text-transform:uppercase;
		@include font-size(22px);
		font-weight:700;
		margin:0;
	}
	
	p {
		color: $gray;
		margin:0;
	}
}

.home-section,
.home-section-pro {
	text-align:center;
	padding-top:30px;

	.home-section-icon {
		width:170px;
		height:170px;
		margin:0 auto;
		background: lighten($light-gray, 7%);
		@include border-radius(50%);
		margin-bottom:20px;
	}
	h4 {
		text-transform:uppercase;
		@include font-size(14px);
		font-weight:700;
		margin:0;

		&:after {
			content: '';
			display:block;
			width:40px;
			height:3px;
			background: $brand;
			margin:5px auto 0;

		}
	}

	p {
		padding:0 10px;
		color: $gray;

		&.bigger {
			@include font-size(28px);
			line-height:30px;
			color: $black;
			margin-top:45px;

			a {
				color: $brand;
				text-decoration:none;
			}
		}
	}

	.svg {
			width:130px;
			height:auto;
			margin: 20px auto;

			&.svg-network-big {
				width:100px;
				margin-top:35px;
			}

			&.svg-audience {
				width:110px;
				margin-top:45px;
			}

			&.svg-hasztag {
				width:80px;
				margin-top:45px;
			}

			

			
		}
}

.home-section-pro {
	.home-section-icon {
		width:130px;
		height:130px;
		margin:0 auto;
		background: lighten($light-gray, 7%);
		@include border-radius(50%);
		margin-bottom:20px;
	}

	.svg {
		width:70px;
		height:auto;
		margin: 30px auto 0;

		&.svg-network {
			width:60px;
			margin-top:30px;
		}

		&.svg-link {
			width:50px;
			margin-top:40px;
		}
	}
}


.block-cta {
	width:100%;
	padding:50px 0;
	background: $brand;
	margin: 40px 0 -20px 0;
	text-align:center;

	p {
		@include font-size(18px);
		margin:0 0 20px 0;
		padding:0;
		color: $white;
	}

}

.block-trending {
	background: $brand;
	padding:10px 0;
	margin-bottom:40px;
	text-align:center;

	p {
		margin:0;
		padding:0;
		color: $white;
	}

	.hashtag {
		margin:0 5px;
		color: $white;
	}
}

.block-cta-facebook {
	width:100%;
	padding:10px 0;
	background: darken($facebook,3%);
	margin: 0 0 -20px 0;
	text-align:center;

	p {
		@include font-size(14px);
		margin:0;
		padding:0;
		color: $white;
	}
}

.home-gallery {
	padding:40px 0 40px;
	background: lighten($light-gray, 10%);
	margin-bottom:40px;

	.gallery-item {
		display:block;
		text-align: center;
		text-decoration: none;
		margin-bottom:10px;

		img {
			width:100%;

			@include border-radius(3px);
			@include transition(opacity 0.3s ease-in-out);

			&:hover {
				@include opacity(0.7);
			}

		}
	}

	.home-section-intro {
		margin-bottom:30px;
	}
}







/******************************************************************
DROPDOWN
******************************************************************/

.user-dropdown {
	color: $gray;
	display:inline-block;
	float:left;
	height:20px;
	line-height:20px;
	margin-right:10px;
	text-decoration: none;
	position:relative;
	bottom:-3px;

	.user-avatar {
		display:inline;
		margin-right:5px;
		img {
			display:block;
			float:left;
			width:20px;
			height:20px;
			@include border-radius(50%);
		}
	}

	.username {
		display:inline;
		text-decoration: none;
	}
}

.dropodown-wrapper {
	position:relative;
	height:20px;
	width:20px;
}

.dropdown {
	position: absolute;
	z-index: 9999999;
	display: none;
}


.dropdown .dropdown-menu,
.dropdown .dropdown-panel {
	min-width: 160px;
	max-width: 360px;
	list-style: none;
	background: #FFF;
	border: solid 1px $light-gray;
	border: solid 1px rgba(0, 0, 0, .2);
	border-radius: 3px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	overflow: visible;
	padding: 4px 0;
	margin: 0;
}

.dropdown .dropdown-panel {
	padding: 10px;
}

.dropdown.dropdown-tip {
	margin-top: 8px;
}

.dropdown.dropdown-tip:before {
  position: absolute;
  top: -6px;
  left: 9px;
  content: '';
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid $light-gray;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  display: inline-block;
}

.dropdown.dropdown-tip.dropdown-anchor-right:before {
	left: auto;
	right: 9px;
}

.dropdown.dropdown-tip:after {
  position: absolute;
  top: -5px;
  left: 10px;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #FFF;
  display: inline-block;
}

.dropdown.dropdown-tip.dropdown-anchor-right:after {
	left: auto;
	right: 10px;
}


.dropdown.dropdown-scroll .dropdown-menu,
.dropdown.dropdown-scroll .dropdown-panel {
	max-height: 358px;
	overflow: auto;
}

.dropdown .dropdown-menu LI {
	list-style: none;
	padding: 0 0;
	margin: 0;
	line-height: 18px;
}

.dropdown .dropdown-menu LI > A,
.dropdown .dropdown-menu LABEL {
	display: block;
	color: $gray;
	text-decoration: none;
	line-height: 18px;
	padding: 3px 15px;
	margin: 0;
	white-space: nowrap;
	text-align:left;

	.fa {
		color: $light-gray;
		position:relative;
		bottom:-1px;
		margin-right:2px;
	}
}

.dropdown .dropdown-menu LI > A:hover,
.dropdown .dropdown-menu LABEL:hover {
	background-color: $brand;
	color: #FFF;
	cursor: pointer;

	.fa {
		color:$white;
	}
}

.dropdown .dropdown-menu .divider {
	
	border-top: solid 1px #E5E5E5;
	padding: 0;
	margin: 5px 0;
}



/******************************************************************
PAGE NAVI STYLES
******************************************************************/



/******************************************************************
COMMENT STYLES
******************************************************************/


/******************************************************************
COMMENT FORM STYLES
******************************************************************/

/*********************
SIDEBARS & ASIDES
*********************/


/*********************
FOOTER STYLES
*********************/

.footer-bottom {
	width:100%;
	background: $footer-main;
	margin-top:20px;
	padding:20px 0;
}

.logo-footer {
	display:block;
	width:125px;
	height:25px;
	background-image: url('../images/logo-footer.png');
	background-repeat: no-repeat;
	text-indent:-9999px;
	margin: 0 auto 20px;
}

.footer-nav {
	ul {
		margin:0 0 20px 0;
		padding:0;
	}

	li {
		display:inline-block;
		width:100%;
		text-align:center;
		padding:3px 0;
		
		a {
			color: $footer-link;
			text-transform: uppercase;
			font-weight: 700;
			text-decoration: none;
			@include font-size(12px);
		}
	}
}

.footer-social {

	ul {
		margin:0;
		padding:0;
	}

	text-align:center;
	
	li {
		display:inline-block;
		text-align:center;
		margin-right:5px;
	
		&:last-child {
			margin-right:0;
		}
		
		a {
			@include font-size(24px);
			color: $footer-link;
			text-transform: uppercase;
			font-weight: 700;
			text-decoration: none;
		}
	}
}