/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $sans-serif;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color: $gray;
  -webkit-font-smoothing: antialiased;
}


/*********************
LAYOUT & GRID STYLES
*********************/

.offcanvas-wrap {
  position: relative;
  -webkit-transition: all 0.3s ease-out;  
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  
  &.active {
    left:16em;
  }
}


/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;

	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/


/*********************
NAVIGATION STYLES
*********************/


a.nav-main-link {
  float: left;
  display: block;
}

.nav-main {
  clear: both;
  overflow: hidden;
}

.js .nav-main {
  width: 16em;
  height: 100%;
  position: absolute;
  top: 0;
  left: -16em;
}

.nav-main {
  ul {
    margin: 0;
    padding: 0;
  }
  
  li a {
    display: block;
  }

}


/*********************
POSTS & CONTENT STYLES
*********************/


/******************************************************************
PAGE NAVI STYLES
******************************************************************/



/******************************************************************
COMMENT STYLES
******************************************************************/


/******************************************************************
COMMENT FORM STYLES
******************************************************************/

/*********************
SIDEBARS & ASIDES
*********************/


/*********************
FOOTER STYLES
*********************/

